<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>

    <typeAliases>
        <package name="com.edusoft.dto"/>
    </typeAliases>

    <environments default="development">
    <environment id="development">

        <transactionManager type="JDBC"></transactionManager>

        <dataSource type="POOLED">
            <property name="driver" value="${oracle.driver}"/>
            <property name="url" value="${oracle.url}"/>
            <property name="username" value="${oracle.user}"/>
            <property name="password" value="${oracle.password}"/>
        </dataSource>

    </environment>
</environments>

    <mappers>
        <mapper resource="mapper/categoryMapper.xml"></mapper>
        <mapper resource="mapper/sellerMapper.xml"></mapper>
        <mapper resource="mapper/goodsMapper.xml"></mapper>
    </mappers>
</configuration>